/*
    This file is created to contain css styles specifically
    For ProductList.razor file in order not to
    Dump every singe style for the entire project
    Inside of app.css file, which is into the wwwroot directory
*/

.media-img[b-6ca97eypqo] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover[b-6ca97eypqo] {
        transform: scale(1.1);
    }

.media[b-6ca97eypqo] {
    display: flex;
    align-items: flex-start;
}

.media-body[b-6ca97eypqo] {
    flex: 1;
}

.media-img-wrapper[b-6ca97eypqo] {
    width: 200px;
    text-align: center;
}

.price[b-6ca97eypqo] {
    color: green;
}

@media (max-width: 1023.98px) {
    .media[b-6ca97eypqo] {
        flex-direction: column;
    }

    .media-img-wrapper[b-6ca97eypqo] {
        width: 100%;
        height: auto;
    }
}