.show-menu[b-d2dek0fkgc] {
    display: block;
}

.user-button[b-d2dek0fkgc] {
    margin-left: .5em;
}

.top-row a[b-d2dek0fkgc] {
    margin-left: 0;
}

.dropdown-item:hover[b-d2dek0fkgc] {
    background-color: white;
}
