/* /Pages/Cart.razor.rz.scp.css */
.container[b-19rguudtz8] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-19rguudtz8] {
    width: 150px;
    text-align: center;
}

.image[b-19rguudtz8] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-19rguudtz8] {
    flex-grow: 1;
    padding: 6px;
}

.cart-product-price[b-19rguudtz8] {
    font-weight: 600;
    text-align: right;
}

.btn-delete[b-19rguudtz8] {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover[b-19rguudtz8] {
        text-decoration: underline;
    }

.input-quantity[b-19rguudtz8] {
    width: 70px;
}
/* /Pages/ProductDetails.razor.rz.scp.css */
.media-img[b-9sz7klzlko] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-9sz7klzlko] {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.original-price[b-9sz7klzlko] {
    text-decoration: line-through;
}

@media (max-width: 1023.98px) {
    .media[b-9sz7klzlko] {
        flex-direction: column;
    }

    .media-img[b-9sz7klzlko] {
        max-width: 300px;
    }

    .media-img-wrapper[b-9sz7klzlko] {
        width: 100%;
        height: auto;
        margin-right: auto;
    }
}
/* /Shared/FeaturedProducts.razor.rz.scp.css */
.container[b-7dvebpj7gk] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-7dvebpj7gk] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

    img:hover[b-7dvebpj7gk] {
        transform: scale(1.1) rotate(5deg);
    }

.featured-product[b-7dvebpj7gk] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023.99px) {
    .container[b-7dvebpj7gk] {
        justify-content: flex-start;
    }
}
/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-1jh4eu8lx6] {
    white-space: nowrap;
    margin-right: 10px;
    transform: rotate(-3deg);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-lblflcqk8o] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-lblflcqk8o] {
    flex: 1;
}

.sidebar[b-lblflcqk8o] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-lblflcqk8o] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-lblflcqk8o]  a, .top-row[b-lblflcqk8o]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-lblflcqk8o]  a:hover, .top-row[b-lblflcqk8o]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lblflcqk8o]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-lblflcqk8o] {
        display: none;
    }

    .top-row.auth[b-lblflcqk8o] {
        justify-content: space-between;
    }

    .top-row[b-lblflcqk8o]  a, .top-row[b-lblflcqk8o]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lblflcqk8o] {
        flex-direction: row;
    }

    .sidebar[b-lblflcqk8o] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lblflcqk8o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lblflcqk8o]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lblflcqk8o], article[b-lblflcqk8o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-20i5j22lui] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-20i5j22lui] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-20i5j22lui] {
    font-size: 1.1rem;
}

.oi[b-20i5j22lui] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-20i5j22lui] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-20i5j22lui] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-20i5j22lui] {
        padding-bottom: 1rem;
    }

    .nav-item[b-20i5j22lui]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-20i5j22lui]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-20i5j22lui]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-20i5j22lui] {
        display: none;
    }

    .collapse[b-20i5j22lui] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
/*
    This file is created to contain css styles specifically
    For ProductList.razor file in order not to
    Dump every singe style for the entire project
    Inside of app.css file, which is into the wwwroot directory
*/

.media-img[b-6ca97eypqo] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover[b-6ca97eypqo] {
        transform: scale(1.1);
    }

.media-img-wrapper[b-6ca97eypqo] {
    width: 200px;
    text-align: center;
}

.page-selection[b-6ca97eypqo] {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .media[b-6ca97eypqo] {
        flex-direction: column;
    }

    .media-img-wrapper[b-6ca97eypqo] {
        width: 100%;
        height: auto;
    }
}
/* /Shared/ShopLayout.razor.rz.scp.css */
.page[b-umihedbt39] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-umihedbt39] {
    flex: 1;
}

.nav-menu[b-umihedbt39] {
    background-image: linear-gradient(180deg, rgb(36, 59, 85) 0%, rgb(20, 30, 48) 70%);
}

.top-row[b-umihedbt39] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-umihedbt39]  a, .top-row[b-umihedbt39]  .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
        text-decoration: none;
    }

    .top-row[b-umihedbt39]  a:hover, .top-row[b-umihedbt39]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-umihedbt39]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row.auth[b-umihedbt39] {
        justify-content: space-between;
    }

    .top-row[b-umihedbt39]  a, .top-row[b-umihedbt39]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-umihedbt39] {
        flex-direction: row;
    }

    .top-row[b-umihedbt39] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-umihedbt39]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-umihedbt39], article[b-umihedbt39] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShopNavMenu.razor.rz.scp.css */
.navbar-toggler[b-hlcbl7qutb] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-hlcbl7qutb] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-hlcbl7qutb] {
    font-size: 1.1rem;
}

.oi[b-hlcbl7qutb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-hlcbl7qutb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

    .nav-item[b-hlcbl7qutb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-hlcbl7qutb]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-hlcbl7qutb]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav[b-hlcbl7qutb] {
    flex-direction: column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-hlcbl7qutb], .navbar-toggler-wrapper[b-hlcbl7qutb]{
        display: none;
    }

    .flex-nav[b-hlcbl7qutb] {
        flex-direction: row;
        display: flex;
    }

    .collapse[b-hlcbl7qutb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/UserButton.razor.rz.scp.css */
.show-menu[b-d2dek0fkgc] {
    display: block;
}

.user-button[b-d2dek0fkgc] {
    margin-left: .5em;
}

.top-row a[b-d2dek0fkgc] {
    margin-left: 0;
}

.dropdown-item:hover[b-d2dek0fkgc] {
    background-color: white;
}
